@import url("./styles/base.css");
@import url("./styles/custom.css");
@import url("./styles/battery.css");
@import url("./styles/workspace.css");

#tray,
#mode,
#clock,
#memory,
#backlight,
#pulseaudio,
#temperature {
  background: rgba(255, 255, 255, 0.05);
  padding: 3px 15px 3px 17px;
}

#window {
  margin-left: 8px;
}

#tray,
#backlight,
#temperature,
#custom-ollama,
#custom-virtualkeyboard {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#tray,
#temperature {
  border-right: 0px;
}

#tray:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#temperature:hover {
  color: #000;
  background-color: #fff;
}

#temperature.critical {
  color: #fff;
  border: 1px solid #c30d0d;
  background-color: #ff0000;
}

#memory,
#pulseaudio,
#pulseaudio.muted {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#mode {
  margin: 0 8px;
  color: #000;
  border-radius: 999px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#clock {
  color: #000;
  border-radius: 45px;
  background-color: #fff;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}
#idle_inhibitor.activated {
  color: #2d3436;
  background-color: #ecf0f1;
}
