#custom-logo {
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 24px;
}

#custom-power,
#custom-ollama,
#custom-nightlight,
#custom-virtualkeyboard {
    border-radius: 45px;
    border: 1px solid #fff;
    padding: 0px 10px 0px 15px;
} 

#custom-power:hover,
#custom-ollama:hover,
#custom-nightlight:hover,
#custom-virtualkeyboard:hover
 {
    background-color: #fff;
    color: #000;
}